doctype html
html()
	head
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-88901953-1', 'auto');
			ga('send', 'pageview');
		script(type='text/javascript', src='//platform.linkedin.com/in.js').
			api_key:   813069z5voq4hf
			onLoad:    onLinkedInLoad
			authorize: true
			lang:	   en_US

		block css
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
			title= title
			include ./partials/loadcss.pug
			meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		link(rel="shortcut icon" type="image/png" href="/img/Hammer.png")



	body.page-loading()

		block content

		block js
			include ./partials/loadjs.pug