extends ../layouts/master

block content
	nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1')
		.container
			.navbar-header
				a.navbar-brand(href='/') Mitra
			.collapse.navbar-collapse()
				ul.nav.navbar-nav.navbar-right
					//li.active
						a.navbar-brand(href='/')
							span(style="text-transform: capitalize;color:white") m
							span(style="text-transform: lowercase;color:white;") itra
					li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#fff;font-weight:bold;") #{username}
									span.caret(style="color:#fff;font-weight:bold;border-top-color:#fff")
							ul.dropdown-menu
								li
									a(href='/' style="color:#000;font-weight:bold;") Home
								li
									a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
								li
									a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
								li
									a(href='/logout' style="color:#000;font-weight:bold;") Logout


	#case.wrapper(style="padding:0px 0px 0px 0px")
		.section
			.container.tim-container
				div(id="notePad")
			

block append js
	script(type="text/javascript").
		$(document).ready(function () {

			$("#notePad").summernote({
				height: 500,
				focus: true,
				toolbar: [
							  ['style', ['bold', 'italic', 'underline', 'clear']],
							  ['font', ['strikethrough', 'superscript', 'subscript']],
							  ['fontsize', ['fontsize']],
							  ['color', ['color']],
							  ['para', ['ul', 'ol', 'paragraph']],
							  ['misc', ['print']],
							  ['save', ['save']],
							  ['insert', ['share']]							  
							],
				buttons:{
							save: saveContent
						},
				share: {
					path: '/js/tpls',
					list: {
						'label-gmail':'Gmail',
						'label-linkedin':'LinkedIn',
						'label-whatsapp':'WhatsApp'
					}
				}
			});
		});

	script(type="in/Login")
	script(type="text/javascript").

		function onLinkedInLoad(){
			IN.User.authorize(shareContent);
		}

		function onSuccess(data){
			console.log(data);
		}

		function onError(error){
			console.log(error);
		}

		//function returnValue(){
		//	var text = $("#notePad").summernote("code");
		//	return text;
		//}

		function shareContent(){
			//var fullContent = returnValue();
			//console.log(fullContent);
			//var urls = "http://localhost:7777";
			//var testData = {
			//	"customURL" : "http://www.linkedin.com/shareArticle?mini=true&url=",
			//	url : encodeURIComponent(urls)
			//};
			var postData = {
				"comment" : "not in working ss",
				"visibility" : {
					"code" : "anyone"
				}
			};

		IN.API.Raw(JSON.stringify(testData))
			.method("POST")
			.body(JSON.stringify(postData))
			.result(onSuccess)
			.error(onError);		
		}
