block append css
	link(href="/lib/bootstrap3/css/bootstrap.css" rel="stylesheet" )
	link(href="/css/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet")
	link(href="/css/gsdk.css" rel="stylesheet")
	link(href="/css/demo.css" rel="stylesheet")
	link(href="/css/style.css" rel="stylesheet")
	link(href="/lib/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet")
	link(href="/css/relation.css" rel="stylesheet")
	link(href="/css/custom.css" rel="stylesheet")
	link(href="/simditor/styles/simditor.css" rel="stylesheet")
	link(href="/lib/summernote/summernote.css" rel="stylesheet")
	link(href="/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet")
	link(href="/ng-toast/dist/ngToast.min.css")
	//fonts
	link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
	link(href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css')
	link(href="/css/pe-icon-7-stroke.css" rel="stylesheet")