block append js
    script(src="/js/jquery-1.10.2.js" type="text/javascript")
    script(src="/js/angular.min.js")
    script(src="/js/angular-animate.min.js")
    script(src="/js/angular-sanitize.min.js")
    script(src="/js/angular-bootstrap.js")
    script(src="/ng-toast/dist/ngToast.min.js")
    script(src="/js/signup.js")
