extends ../layouts/home

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
	nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
		.container
			.navbar-header
				button#menu-toggle.navbar-toggle(type='button')
					span.sr-only Toggle navigation
					span.icon-bar.bar1
					span.icon-bar.bar2
					span.icon-bar.bar3
				a.navbar-brand(href='/') 

			.collapse.navbar-collapse()
				.nav.navbar-nav.navbar-left
					a(href='/')
						img(src='/img/MitraLogo.png',alt='Mitra logo')

				ul.nav.navbar-nav.navbar-right
						if loggedin
							li.dropdown

									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
											span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

									ul.dropdown-menu
										li
											a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
										li
											a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
										li
											a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

									li
										a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

									li.dropdown

										a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
												span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

										ul.dropdown-menu
											li
												a(href='/company/about' style="color:#000;font-weight:bold;") About Us
											li
												a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
								ul.dropdown-menu
									li
										a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
									li
										a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
									li
										a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
									li
										a(href='/logout' style="color:#000;font-weight:bold;") Logout

								
						else
							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
									li
										a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
									li
										a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

							li
								a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/company/about' style="color:#000;font-weight:bold;") About Us
									li
										a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

							li
								a(href='/login/0' style="color:#000;font-weight:bold;")  Login
							li
								a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up
								
	.container.privacy
				h2 Privacy Policy

				ul
					li
						p This website www.mitra.ai (the "Website") is published by Pensieve Technologies Private Limited (the "Company"), (Company No.282572, registered in India, with its registered office at Mumbai.)
					li
						p The Company is committed to respecting your privacy and we recognise your need to know that your personal information is being properly processed and held.

					li
						p This privacy policy statement (“Privacy Policy”) is designed to help you understand how we may use and safeguard the personal information you provide to us via the Website.

					li
						p This Website may contain links to other websites. We are not responsible for the privacy practices of such other sites. This Privacy Policy applies solely to information collected by us via the Website. 

					li
						p You may browse the Website without providing any personal information, to view the information that is provided without subscription. The information we collect on an aggregate basis, as you browse the Website, is not used to identify you in any way. If you want to interact with us via the Website or if you wish to register to use certain parts of the Website, we may ask you to provide us with some personal information. Such personal information may include details about you (your name, date of birth, e-mail ID, phone number and address etc.), which we can use to provide you with information or services you have requested or send you information about our products and services. 

					li
						p Where we offer you the ability (and you wish) to purchase our products or services through our Website, you may need to provide us with information so that we can complete the transaction (including your credit card details).

					li
						h4 Cookies 

						p We may use cookies to speed up navigation through Website. A cookie is a piece of encoded information that is sent from the Website and stored in your computer's memory. This piece of information identifies who you are and therefore avoids the time-consuming process of checking your details against our user database each time a new page is requested. A few points on cookies:

						ol
							li Cookies only contain as much information as was disclosed to the site that sent it
							li Cookies do not take information from your hard drive, delete files or contain viruses
							li Cookies are small files (100s of bytes) and do not pose a disk space problem
							li The information in each cookie cannot be readily decoded or used in any other way
							li If you choose you can usually change your web browser to disable storage of cookies.

					li
						h4 Information 

						p Information provided by users of the Website and usage statistics, logfiles etc. may be used to:

						ol
							li process, validate and verify subscriptions and purchase orders
							li contact the user when necessary
							li send email notifications of new site features, newsletters and topic updates
							li potentially tailor the user's experience on visiting the site by varying the content based upon known demographics and profiles
							li monitor users' visits and generally collate aggregate site traffic information. 

					li
						h4 Credit card information

						p If you purchase a product from the Website you may provide us with your credit card details. These details will only be used to process your purchase. We will not disclose your credit card details to any third parties for marketing purposes under any circumstances. 

					li
						h4 Opt outs 

						p You may opt out of receiving information or advertisements from us by contacting us (details in Section 14 below).

					li
						h4 Access to your information 

						p At any time you may ask us to:

						ol
							li send you a copy of your information
							li remove your information from our records
							li correct or update any of your information

					li
						p If you have any questions or comments, you may reach us through one of the methods given in Section 14 below.

					li
						h4 Changes to policies 

						p All changes to this Privacy Policy will be posted here. Please visit this page regularly to stay up to date. Your continued use of the Website following changes to the Privacy Policy will indicate your acceptance of them.

					li
						h4 Complaints 

						p We are committed to working with you to resolve, quickly and fairly any complaints you may have about privacy and security of your information. If you have any questions or comments please contact us through one of the methods given in Section 14 below.

					li
						h4 Security 

						p The Website has security measures in place to protect the loss, misuse and alteration of the information under our control. In addition to this we have security measures in place to protect our customer database and access to this is restricted internally.

					li
						h4 Grievance Officer

						p For access or correction of your information, or for any complaints, you may reach the designated grievance officer, Mr. Gaurav Srivastava, whose contact details are as below:
						p Grievance Officer: Mr. Gaurav Srivastava
						p Address: f-27,Shagun Arcade, Film City Road, Near Dindoshi Bus Depot, Goregaon East, Mumbai
						p City, Maharashtra, India -400063
						p Phone: +91-9619840352
						p E-mail:  Gaurav@pensieve.co.in

	.footer
				a(href='/policy/privacy') Privacy Policy | &nbsp;
				a(href='/policy/refund') Refund & Cancellation policy | &nbsp; 
				a(href='/policy/tnc') Terms & Conditions &nbsp; 
				p &copy; 2016-2017 Pensieve.co.in