extends ../layouts/home

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
	nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
		.container
			.navbar-header
				button#menu-toggle.navbar-toggle(type='button')
					span.sr-only Toggle navigation
					span.icon-bar.bar1
					span.icon-bar.bar2
					span.icon-bar.bar3
				a.navbar-brand(href='/') 

			.collapse.navbar-collapse()
				.nav.navbar-nav.navbar-left
					a(href='/')
						img(src='/img/MitraLogo.png',alt='Mitra logo')

				ul.nav.navbar-nav.navbar-right
						if loggedin
							li.dropdown

									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
											span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

									ul.dropdown-menu
										li
											a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
										li
											a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
										li
											a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

									li
										a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

									li.dropdown

										a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
												span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

										ul.dropdown-menu
											li
												a(href='/company/about' style="color:#000;font-weight:bold;") About Us
											li
												a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
								ul.dropdown-menu
									li
										a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
									li
										a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
									li
										a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
									li
										a(href='/logout' style="color:#000;font-weight:bold;") Logout

								
						else
							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
									li
										a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
									li
										a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

							li
								a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/company/about' style="color:#000;font-weight:bold;") About Us
									li
										a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

							li
								a(href='/login/0' style="color:#000;font-weight:bold;")  Login
							li
								a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up
								
	.container.refund

				h2 Refund and Cancellation Policy

				p Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase. In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:
				
				ul
					li
						h4 Cancellation Policy
						p For Cancellations please contact the us via contact us link.

					li
						h4 Refund Policy
						p We will try our best to create the suitable design concepts for our clients. In case any client is not completely satisfied with our products we can provide a refund. If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.

	.footer
				a(href='/policy/privacy') Privacy Policy | &nbsp;
				a(href='/policy/refund') Refund & Cancellation policy | &nbsp; 
				a(href='/policy/tnc') Terms & Conditions &nbsp; 
				p &copy; 2016-2017 Pensieve.co.in