extends ../layouts/search

block content
	nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1')
		.container
			.navbar-header
				a.navbar-brand(href='/') Mitra
			.collapse.navbar-collapse()
				ul.nav.navbar-nav.navbar-right
					//li.active
						a.navbar-brand(href='/')
							span(style="text-transform: capitalize;color:white") m
							span(style="text-transform: lowercase;color:white;") itra
					li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#fff;font-weight:bold;") #{username}
									span.caret(style="color:#fff;font-weight:bold;border-top-color:#fff")
							ul.dropdown-menu
								li
									a(href='/' style="color:#000;font-weight:bold;") Home
								li
									a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
								li
									a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
								li
									a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
								li
									a(href='/logout' style="color:#000;font-weight:bold;") Logout


	#case.wrapper(style="padding:0px 0px 0px 0px")
		.section
			.container.tim-container
				div(id="summernote")

block append js
	script(type="text/javascript").
		$(document).ready(function () {
		// call function process array data and generate html view
			createtooltip();
			synopsisdata(false);			 
			$('#copy_tooltip').on('click', function(e){
				var copied_note = localStorage.getItem('current_research_synopsis_notes_copied');
				var copied_title = localStorage.getItem('current_research_synopsis_title_copied');
				var copied_id = localStorage.getItem('current_research_synopsis_id_copied');
				localStorage.setItem('current_case_id',copied_id);
				synopsisarray = JSON.parse(localStorage.getItem('synopsisarray'));
				var nodeobject = {title:copied_title, note:copied_note,id:copied_id};
				synopsisarray.push(nodeobject);
				localStorage.setItem("synopsisarray",JSON.stringify(synopsisarray));
				$(this).css({'opacity':0});
				synopsisdata(true);
			});
			$(window).bind('beforeunload', function() {
			  return 'Unsaved changes will be lost. Do you still want to leave?';
			});
		});
