extends ../layouts/home

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
	nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
		.container
			.navbar-header
				button#menu-toggle.navbar-toggle(type='button')
					span.sr-only Toggle navigation
					span.icon-bar.bar1
					span.icon-bar.bar2
					span.icon-bar.bar3
				a.navbar-brand(href='/') 

			.collapse.navbar-collapse()
				.nav.navbar-nav.navbar-left
					a(href='/')
						img(src='/img/MitraLogo.png',alt='Mitra logo')

				ul.nav.navbar-nav.navbar-right
						if loggedin
							li.dropdown

									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
											span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

									ul.dropdown-menu
										li
											a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
										li
											a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
										li
											a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

									li
										a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

									li.dropdown

										a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
												span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

										ul.dropdown-menu
											li
												a(href='/company/about' style="color:#000;font-weight:bold;") About Us
											li
												a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
								ul.dropdown-menu
									li
										a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
									li
										a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
									li
										a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
									li
										a(href='/logout' style="color:#000;font-weight:bold;") Logout

								
						else
							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
									li
										a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
									li
										a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

							li
								a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/company/about' style="color:#000;font-weight:bold;") About Us
									li
										a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

							li
								a(href='/login/0' style="color:#000;font-weight:bold;")  Login
							li
								a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up

	.container.faq
		h3 Frequently Asked Questions

		ul(style='list-style-type:none;')
			li.faqCard 
				div(class="card ")
					h4 What is Mitra?
					p Mitra is an Artificial Intelligence driven legal research platform. It recognizes the context and meaning of a user’s search queries and accordingly provides results relevant to the user.
			li.faqCard 
				div(class="card ")
					h4 Who can use Mitra?
					p Anyone who is signed up with Mitra can use it. However, those in the legal field (law students, advocates, judges, litigators, lawyers, law firms) will benefit the most from using Mitra.
			li.faqCard  
				div(class="card ")
					h4 How do I use Mitra?
					ol
						li 
							p Login to your account
						li 
							p Enter your search query in natural language (no need to use inverted commas) Eg: type Corporate Veil in the search bar and hit Enter
						li 
							p Select the relevant case from the result which Mitra provides you using AI
						li 
							p Based on the case you select, Mitra will further use AI to show you additional similar cases
						li 
							p Copy the relevant sections of the case into your Research Note pane
						li 
							p Click on Synopsis to find your defensible argument template. Here, you will find the text that you have copied into your Research notes. You can add your comments to the document
						li 
							p Share, save or print the defensible argument which you have prepared

					p Mitra also saves your searches and research notes so that you may refer to it at a later date.
			li.faqCard  
				div(class="card ")
					h4 How do I create an account?
					p It’s a simple 2 step process.
					ol
						li 
							p Sign Up on Mitra.ai
						li 
							p Authenticate and verify your credentials through the link received by email
					p And you’re all set to leverage the power of AI in your daily work.
			li.faqCard  
				div(class="card ")
					h4 How do I create an account?
					p Anyone who is signed up with Mitra can use it. However, those in the legal field (law students, advocates, judges, litigators, lawyers, law firms) will benefit the most from using Mitra.
			li.faqCard  
				div(class="card")
					h4 What is the Access Code?
					p This code allows us to track who introduced you to world of Mitra. This could be either a channel partner, a salesman or a student ambassador. Whenever you’ll be given the Mitra demo, the person giving you the demo will share his unique code with you so that you can enter the same when you Sign Up on Mitra.
			li.faqCard  
				div(class="card")
					h4 What are pricing plans?
					p At present, we are offering a standard pricing plan for professional users. The package can be availed at a monthly subscription rate of Rs. 499/- or an annual subscription of Rs. 4999/-. The features of this plan are:
					ol
						li 
							p Access to all Supreme Court cases
						li 
							p Contextual Search
						li 
							p Natural Language Query
						li 
							p Recommendations based on your searched cases
						li 
							p Create, Save and Print defensible arguments online
						li 
							p Save and retrieve searched keywords, cases
			li.faqCard  
				div(class="card ")
					h4 How do I pay?
					p You can pay by Credit Card, Debit Card or Net Banking. You will have to renew your account at the end of each billing cycle. Alternately, you can setup the Auto-pay feature such that you at the end of each billing cycle the subscription amount is automatically deducted from your bank Account.
			li.faqCard  
				div(class="card ")
					h4 Can I get customized plans?
					p Depending on your requirement (such as need for more storage), we can provide you with customized plans. Please write to us at customer.support@pensieve.co.in.
			li.faqCard  
				div(class="card ")
					h4 Where is my data stored?
					p We use the state of the art data security features to ensure that your data stay safe. All the data is stored on AWS which is one of the global leaders in cloud security solutions.
			li.faqCard  
				div(class="card ")
					h4 Can I get a demo?
					p You can view the video of the demo here. If you still have queries you can Request a Demo and one of our sales personnel will reach out to you.
			li.faqCard  
				div(class="card text-center")
					h5 Still have doubts? Please write to us at customer.support@pensieve.co.in.
