extends ../layouts/home

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
	nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
		.container
			.navbar-header
				button#menu-toggle.navbar-toggle(type='button')
					span.sr-only Toggle navigation
					span.icon-bar.bar1
					span.icon-bar.bar2
					span.icon-bar.bar3
				a.navbar-brand(href='/') 

			.collapse.navbar-collapse()
				.nav.navbar-nav.navbar-left
					a(href='/')
						img(src='/img/MitraLogo.png',alt='Mitra logo')

				ul.nav.navbar-nav.navbar-right
						if loggedin
							li.dropdown

									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
											span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

									ul.dropdown-menu
										li
											a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
										li
											a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
										li
											a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

									li
										a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

									li.dropdown

										a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
												span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

										ul.dropdown-menu
											li
												a(href='/company/about' style="color:#000;font-weight:bold;") About Us
											li
												a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
								ul.dropdown-menu
									li
										a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
									li
										a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
									li
										a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
									li
										a(href='/logout' style="color:#000;font-weight:bold;") Logout

								
						else
							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
									li
										a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
									li
										a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

							li
								a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/company/about' style="color:#000;font-weight:bold;") About Us
									li
										a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

							li
								a(href='/login/0' style="color:#000;font-weight:bold;")  Login
							li
								a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up

	.container.hiw
		.hiwCard 
				div(class="card ")
					h4 How it works?
					p Mitra has access to all the case law data from the Supreme Court of India. On this data is placed a sophisticated and powerful Machine Learning algorithm which allows Mitra to understand context and read documents. The algorithm allows the user to input the search query in natural language (using words they would while speaking) and receive a set of results. Within these results, the user picks the case he/she finds most relevant. Subsequently, the algorithm then produces cases similar to the selected case law such that he/she has a pool of cases for reference. Thereafter, the tool allows the user to copy relevant sections from within the selected case/s as well as write his/her own comments in the format specified for the defensible argument.