.filter-black {
    position: relative;
}

.parallax {
    width: 100%;
    height: 570px;
    overflow: hidden;
    display: block;
}


.navcolor {
    background-color: #054c82;
}

.searchbox_topbar {
    font-size: 1em;
    border: 0;
    padding: 0;

    font-weight: 300;
    padding: 0px 10px !important;
    padding-top: 5px !important;
    border: 1px solid #d0d0d0;
    width: 520px;
    padding-left: 20px;
    margin: 18px 30px 0px 30px;
}

.fa-filter{
    color:#1a4e75;
}

.searchBoxFilterBtn{
    padding-top: 4%;
}

/*.searchbox_topbar:hover {
    transform: scale(1.10, 1.10);
}*/

.searchbutton_topbar{width: 150px;margin: 18px 30px 0px 30px;}


@media screen and (min-width:767px) and (max-width:1024px) {

    .searchbox_topbar {width: 320px;margin: 18px 20px 0px 30px;}
    .searchbutton_topbar{width: 100px;}

}

.individual_feedback_container
{
    background-color:#f9fcff;
    padding:20px;
    text-align:center;
}

.glyphicon-star-empty
{
    color:#042f4f !important;
    font-size: 2.5vw !important;
    cursor:pointer !important;
}

.glyphicon-star
{
    color:#042f4f !important;
    font-size: 2.5vw !important;
    cursor:pointer !important;
}

.heading
{
    font-weight:600;
    font-size:4em !important;
    color:#042F4F;
}
.login-container
{
    margin-top:5%;
}
.ng-toast__list{
    list-style-type: none !important;
}
.alert-info{
    background-color: #054c82;
    font-size: 15px;
}
.signUpToast{
    
}

.searcharrow{
    /* border-left: 1px solid #eee;
    height: 350px; */
    padding:10px;
    border-bottom:1px solid #eee;
    cursor:pointer;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fcff;
}

.searcharrow:hover{background-color: #eeeeee;}

#synopsis-content{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    padding: 10px 20px;
    background-color: #f9fcff;
}

.synopsisrightfirstblock{
    /*background: #f3fff4;*/
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    min-height: 250px;
}


.casecontent{
    overflow: auto;
    position: relative;
    padding: 10px 20px;
    border-radius: 6px;
    background: rgba(255,255,255,0.8);
    margin: 0px;
    max-width: 98%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    box-shadow: 0 1px 20px 3px rgba(0,0,0,0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.casecontent:after{
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: #FFFFFF;
    margin-bottom: 20px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.casecontent:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.05, 1.05);
}
.casecontent:hover:after{
  opacity:1;
}

.casecontent.hidden{ display: none; }

.casecontent.light{
    background-color: #f1f1f1;
    color: #333;
}

#case-content{
    background-color: #f9fcff;
    min-height:100px;
    max-height: 590px;

}


#researchnotes{
    background-color: #f9fcff;
    height: 280px;
    color:#042f4f;
}

.note-editor{
    margin-top: 4em;
}
.shotlistbackwrapper{
    /*height: 250px;*/
    position: relative;

}

#shotlistwrapper { width: 275px; height: 275px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); position: relative; }
#center {
    text-align: center; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #f1f1f1; color: #333; font-size: 0.8em;
    width: 65px; height: 65px; position: absolute;
    left: 110px; top: 110px; border-radius: 100%;
    -webkit-transition: all 1s;  display: flex;  align-items: center;  justify-content: center;padding: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 0.5em;

}
.field {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);background: #f1f1f1; color: #042f4f;
    font-size: 0.5em; width: 65px; height: 65px;text-transform: capitalize !important;
    position: absolute; ; border-radius: 100%;  margin-left: 18px;
    -webkit-transition: all 1s;  display: flex;  align-items: center;  justify-content: center;
    padding: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#crosshair-x { width: 325px; height: 2px; background: #000; position: absolute; left: 0; top: 160px; display: none; }
#crosshair-y { width: 2px; height: 325px; background: #000; position: absolute; left: 160px; top: 0; display: none;}


.researchnoteswrapper{
    height: 280px;
    max-height: 610px;
}

.synopsis-content-wrapper{
    height: 500px;

}




#research_notes_wrap{
    height: 550px;
    max-height: 510px;
}

#synopsisnotes{
    background-color: #f9fcff;
    color:#042f4f;
    height: 530px;
    max-height: 490px;
    overflow-y: scroll !important;
}


.customheight
{
    height:250px !important;
    overflow:auto;
    background:#fff;
}

.col-sm-10{
    background-color:#f9fcff;

}

.arrow{
    font-size:2.1em;
    color:#042f4f;
}

@media print {
    #footer {
        display:block;
        bottom:0;
        left: 48%;
        position:fixed;
        font-size:11px;
    }
    @page { margin: 0; }
    body { margin: 1.6cm; }
}

/* -- about page -- */

.mission {
    margin-top: 9rem;
    display: block;
    height: 40rem;
    width: 40rem;
    padding-top: 10%;
    border-radius: 50%;
    font-style: fontin;
    background-color: #042F4F;
    /* text-align: center; */
    position: relative;

}

.mission h3{
    
    
    color: white;
    font-family: "Open Sans",sans-serif,sans-serif;
    text-align: center;
}

.mission p{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans",sans-serif,sans-serif;
}

.mitraIntro{
    
    left: 50%;
    /* bottom: 165%; */
    margin-top: -32rem;
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    /* padding-top: 5%; */
    font-style: fontin;
    background-color: #042F4F;
    text-align: center;
    padding: 7rem;
    position: relative;

}
.mitraIntro h3{
    
    
    color: white;
    font-family: "Open Sans",sans-serif,sans-serif;
    text-align: center;
}

.mitraIntro p{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans",sans-serif,sans-serif;
}

.team h3{
    
    padding-top: 2%;
    color: #042F4F;
    font-family: "Open Sans",sans-serif,sans-serif;
    text-align: center;
}

.card-deck .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    border-top: 2px solid #042F4F;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-title .fa{
    font-size: 1.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
    background-color: transparent;
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
    background-color: transparent;
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
    background-color: transparent;
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    height: 10rem;
    width: 10rem;
    margin-left: 70%;
    margin-right: 10;
    margin-top: -5%;
    margin-bottom: -5%;
    border-radius: 50%;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    height: 6rem;
    border-radius: 50%;
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
    .card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-deck .card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }
    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }
}

@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.75rem;
    }
}

.pricing{
    //background-color: #042F4F !important;
    padding: 5%;
}
.pricing .card{
    background-color: #042F4F;
}
.pricing li, .pricing h2, .pricing h4{
    text-align: center !important;
    color:white !important;
}
.fa-gavel{
    color: white !important;
}

.hovered{
    background-color: white !important;
    border: 1px solid #042F4F;
    border-radius: 4px;
    cursor: pointer;
}
.hovered li, .hovered h2, .hovered h4{
    color: #042F4F !important;
    text-align: center !important;
}
.hovered .fa-gavel{
    color: #042F4F !important;
}
.pricing li, .hovered li{
    text-align: left !important;
    list-style: none;
    font-size: 2rem;
}

/*-- contact us page --*/
.contactUs .row{
    display: flex;
    flex-direction: row;
}
.envelope1{
    color:#042F4F;
    font-size: 30em !important;
    
}
.address{
    
}
@media only screen and (max-width: 771px) {

   .envelope1 { 
      font-size: 5rem !important; 
   }

}

.contactUs {
    background-color:#f9fcff;
}
.contactUs .col-text {
  height:27em;
}
.contactUs .grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.contactUs .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.contactUs .col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactUs .Aligner-item {
  width: 60%;
}
.contactUs .col-image {
  background-size: cover;
  background-position:center center;
  font-size: 30rem;
  color : #042F4F;
}

@media (max-width: 640px) {
  .contactUs .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .contactUs .col {
    order:vertical;
  }
  
  .contactUs .col-text div p {
    padding: 1em;
  }
  .contactUs .Aligner-item {
    width: 90%;
  }
}


/*-- faq, how it works pages --*/

.faq, .hiw{
    margin-top: 5%;
    background-color:#f9fcff;
    padding-top: 4%;
    padding-right: 3%;
    padding-bottom: 1%;
}
.faq h3{
    text-align: center;
    color: #042F4F;
    margin-bottom: 1%;
    margin-left: 2%;
}
.faqCard {
    
}
.faqCard .card , .hiwCard .card{
    padding : 1%;
    border-left: 3px solid #042F4F;
    border-right: 3px solid #042F4F;
}
.faqCard h4, .hiwCard h4{
    color: #042F4F;
    text-align: center;
}
.faqCard li{
    text-align: left;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
}

/*-- privacy policy --*/
 .privacy{
    margin-top: 5%;
    background-color:#f9fcff;
    padding-top: 4%;
    padding-right: 3%;
    padding-bottom: 1%;
    margin-bottom: 5%;
 }

 .privacy h2{
    text-align: center;
    color: #042F4F;
    margin-bottom: 1%;
    margin-left: 2%;
}

/*-- refund policy --*/
.refund{
    margin-top: 5%;
    background-color:#f9fcff;
    padding-top: 4%;
    padding-right: 3%;
    padding-bottom: 1%;
    margin-bottom: 5%;
 }

 .refund h2{
    text-align: center;
    color: #042F4F;
    margin-bottom: 1%;
    margin-left: 2%;
}

/*-- tnc -- */
.tnc{
    margin-top: 5%;
    background-color:#f9fcff;
    padding-top: 4%;
    padding-right: 3%;
    padding-bottom: 1%;
    margin-bottom: 5%;
 }

 .tnc h2{
    text-align: center;
    color: #042F4F;
    margin-bottom: 1%;
    margin-left: 2%;
}
