extends ../layouts/home

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
	nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
		.container
			.navbar-header
				button#menu-toggle.navbar-toggle(type='button')
					span.sr-only Toggle navigation
					span.icon-bar.bar1
					span.icon-bar.bar2
					span.icon-bar.bar3
				a.navbar-brand(href='/') 

			.collapse.navbar-collapse()
				.nav.navbar-nav.navbar-left
					a(href='/')
						img(src='/img/MitraLogo.png',alt='Mitra logo')

				ul.nav.navbar-nav.navbar-right
						if loggedin
							li.dropdown

									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
											span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

									ul.dropdown-menu
										li
											a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
										li
											a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
										li
											a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

									li
										a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

									li.dropdown

										a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
												span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

										ul.dropdown-menu
											li
												a(href='/company/about' style="color:#000;font-weight:bold;") About Us
											li
												a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
								ul.dropdown-menu
									li
										a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
									li
										a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
									li
										a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
									li
										a(href='/logout' style="color:#000;font-weight:bold;") Logout

								
						else
							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
									li
										a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
									li
										a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

							li
								a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/company/about' style="color:#000;font-weight:bold;") About Us
									li
										a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

							li
								a(href='/login/0' style="color:#000;font-weight:bold;")  Login
							li
								a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up

	.container.about(style='heght:100%;overflow-y:auto;')
		div.mission
			h3.mstatement ~Our Mission~
			p To increase the productivity of the legal fraternity and enable them to deliver swifter and more efficient justice.
		div.mitraIntro
			h3.mstatement ~About Mitra~
			p Mitra is the flagship product of Pensieve &mdash; an artificial intelligence solutions firm. Mitra is designed to intuitively understand the context and relevance of a search query and provide the case researcher with the most apt recommendation. More importantly, using machine learning Mitra is able to help prepare defensible arguments.
		div.team
			h3 Meet Our Team
			div(class="card-deck" style='margin-top: 2%;')
				div(class="card")
					img(class="card-img" src="/img/gaurav.jpg" alt="Gaurav")
					div(class="card-block")
						h4(class="card-title") Gaurav Srivastava 
							
						p(class="card-text") True Blue Entrepreneur. He Loves building product for Scale , reading  about Technology & Political Institutions, understanding Behavioural Economics & Game Theory. He is passionate about solving all kinds of problems with the optimism that all of his solutions have the  potential to become frameworks.
				div(class="card")
					img(class="card-img" src="/img/prahlad.jpg" alt="Prahlad")
					div(class="card-block")
						h4(class="card-title") Dr. Prahlad Routh 

						p(class="card-text") A philomath. Passionate about STEM and knowledge discovery using scientific process applied with data-driven approaches. Loves doing statistical analysis and pattern identification in large datasets. With his interdisciplinary research and pedagogical skills, Dr. Routh guides the data science team in developing cutting-edge algorithms.

				div(class="card")
					img(class="card-img" src="/img/navaneeth.jpeg" alt="Navneeth")
					div(class="card-block")
						h4(class="card-title") Navaneeth Reddy 
							
						p(class="card-text") Navaneeth works on business strategy and fundraising activities at Pensieve. He has over 6 years of diverse work experience which includes working for an angel investor group as an investment consultant, an analytics product manager at a large corporation and in software product R&D for an MNC.

			div(class="card-deck" style='margin-top: 2%;')
				div(class="card")
					img(class="card-img" src="/img/me2.jpg" alt="Ajinkya")
					div(class="card-block")
						h4(class="card-title") Ajinkya B. Deshmukh 
						p(class="card-text") Ajinkya is a polygot programmer. He specializes in different technologies including Web, Embedded Systems, Signal Processing. He loves both low level and high level programming languages equally. Nowadays he is giving special attention to Data Science and NLP. He's a National level Table tennis player, avid reader and quora writer.
				div(class="card")
					img(class="card-img" src="/img/sujoy.jpg" alt="Sujoy")
					div(class="card-block")
						h4(class="card-title") Sujoy De 
						p(class="card-text") Sujoy is a self-taught Data Scientist with around 2 years of experience in machine learning. He sometimes uses ML techniques even for simple problems. An avid reader, a chess player, his love above all is Regression.
				div(class="card")
					img(class="card-img" src="/img/raghuvar.jpeg" alt="Raghuvar")
					div(class="card-block")
						h4(class="card-title") Raghuvar Prajapati 
						p(class="card-text") Raghuvar is a data science enthusiast and a IIIT graduate, in Computer Science stream. Before joing Pensieve, he was mostly focused on machine learning, artificial intelligence and computer networking. He loves exploring new technologies that are going to have a long lasting impact.
			div(class="card-deck" style='margin-top: 2%;')
				div(class="card")
					img(class="card-img" src="/img/varun2.jpg" alt="Navneeth")
					div(class="card-block")
						h4(class="card-title") Varun Chaudhary						
						p(class="card-text") Varun is a jack of all trades with degrees in Economics, Marketing, Data Analytics and Human Resources. He has experience in Market Research, Corporate Strategy, Go To Market and Organization Development. An avid sports enthusiast, you can be sure to have a healthy discussion about the latest happenings in the world of sports. Also, stay away from him the days Chelsea FC and Kolkata Knight Riders lose their games.
				div(class="card")
					img(class="card-img" src="/img/vinay.jpg" alt="Vinay")
					div(class="card-block")
						h4(class="card-title") Vinay Nair 							
						p(class="card-text") Vinay is currently pursuing Law from Mumbai University and is the Former General Secretary of K.C. Law College Mumbai. He holds a bachelor's degree in Political Science and is an aspiring politician. Currently, he manages several projects in association with the Bombay High Court and Maharashtra State Government, one of them being the Undertrial Prisoners Reform Project. Vinay is an International level Karate Player, a debater and a small time Event Anchor.
				div(class="card")
					img(class="card-img" src="/img/karandeep.jpg" alt="Karan")
					div(class="card-block")
						h4(class="card-title") Karandeep Makkar							
						p(class="card-text") Graduated from National Law University, Udaipur in 2013. Over four years of experience working with Law firms and startups.
			h3 Meet Our Advisors
			div(class="card-deck" style='margin-top: 2%;')
				div(class="card")
					img(class="card-img" src="/img/jay.jpg" alt="jay")
					div(class="card-block")
						h4(class="card-title") Jay Parikh 							
						p(class="card-text") Partner at Shardul Amarchand Mangaldas,
						p(class="card-text") Founder at Verus, Advocates
				div(class="card")
					img(class="card-img" src="/img/dhruv.jpg" alt="Dhruv")
					div(class="card-block")
						h4(class="card-title") Dhruv Suri				
						p(class="card-text") Principal Associate at PSA 
						p(class="card-text") Co-Head at Victus 
						p(class="card-text") Member at Columbia Alumni Association 
						p(class="card-text") Occasionally writes for yourstory.com

				div(class="card")
					img(class="card-img" src="/img/abhishek.jpg" alt="abhishek")
					div(class="card-block")
						h4(class="card-title") Abhishek Vibhanshu					
						p(class="card-text") Assistant Professor of Information Systems, CMU, Pittsburgh, PA
						p(class="card-text") Ph.D, University of Pennsylvania - Wharton School 
						p(class="card-text") Graduated from IIT Kanpur in 2003 
						p(class="card-text") Guiding Light in Machine Learning & NLP Algorithm.
						
						

block append js
	script(type='text/javascript').
		$(document).ready(function () {
			$(window).scroll(function(){ 

				var a = 1;
				var pos = $(window).scrollTop();

				if(pos > a) {
					console.log('here');
				    $(".navbar").css({
				       'box-shadow': '0 1px 20px 0 rgba(46,61,73,.2)'
				    });
				}
				else{
					$(".navbar").css({
				       'box-shadow': 'none'
				    });
				}
			});
		});