extends ../layouts/search

block content
	nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1',style="box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
		#searchterm.hide #{searchterm}
		.container
			//.navbar-header
				//a.navbar-brand(href='/') Search Results
			//.navbar-header
				//a.navbar-brand(href='/') Mitra
			div
				ul.nav.navbar-nav
					li.active
						a.navbar-brand(href='/')
							span(style="text-transform: capitalize;color:white") m
							span(style="text-transform: lowercase;color:white;") itra
					
				ul.nav.navbar-nav.navbar-right
					if loggedin
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#fff;font-weight:bold;") #{username}
									span.caret(style="color:#fff;font-weight:bold;border-top-color:#fff")
							ul.dropdown-menu
								li
									a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
								li
									a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
								li
									a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
								li
									a(href='/logout' style="color:#000;font-weight:bold;") Logout
					else
						li
							a(href='/login/0' style="color:#fff;font-weight:bold;")  Login
						li
							a(href='/signup' style="color:#fff;font-weight:bold;")  Sign Up

	.container
		
		.col-xs-offset-2.col-xs-8.col-md-offset-4.col-md-4.login-container
			h1.text-center.heading Mitra
			form.requestDemoForm(action='/submitDemoData', method='post')
				.form-group
					label(for='name') Name
					i.fa.fa-user
					input#name.form-control(type='text', name='name', required='')
				.form-group
					label(for='email') Email-id
					i.fa.fa-envelope
					input#email.form-control(type='text', name='email', required='')
				.form-group
					label(for='email') Company
					i.fa.fa-building-o
					input#email.form-control(type='text', name='company')
				.form-group
					label(for='email') Contact Number
					i.fa.fa-mobile
					input#email.form-control(type='text', name='contactNumber', required='')
				.form-actions
					button.btn.btn-info.btn-block.btn-fill(type='submit') Request Demo
block append js
	script(type="text/javascript").
		var info = "#{info}";
		console.log(info);
		if(info=='Request sent!'){
			swal({
			  title: 'Request submitted!',
			  text: "Our representative will contact you soon.",
			  type: 'success',
			  showCancelButton: false,
			  confirmButtonColor: '#3085d6',
			  confirmButtonText: 'Ok'
			}).then(function () {
			  window.location = '/';
			});
		}
		else if(info=='An error occured. Please try again later'){
			swal({
			  title: 'Error!',
			  text: 'An error occured. Please contact our sales representative on +91-9004295190.',
			  type: 'error',
			  showCancelButton: false,
			  confirmButtonColor: '#3085d6',
			  confirmButtonText: 'Ok'
			}).then(function () {
			  window.location = '/';
			});		
		}
		