extends ../layouts/home

block content
    link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
    nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
        .container
            .navbar-header
                button#menu-toggle.navbar-toggle(type='button')
                    span.sr-only Toggle navigation
                    span.icon-bar.bar1
                    span.icon-bar.bar2
                    span.icon-bar.bar3
                a.navbar-brand(href='/')



            ul.nav.navbar-nav.navbar-right
                    if loggedin
                        li.dropdown

                                a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
                                        span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

                                ul.dropdown-menu
                                    li
                                        a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
                                    li
                                        a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
                                    li
                                        a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

                                li
                                    a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

                                li.dropdown

                                    a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
                                            span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

                                    ul.dropdown-menu
                                        li
                                            a(href='/company/about' style="color:#000;font-weight:bold;") About Us
                                        li
                                            a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
                                    span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
                            ul.dropdown-menu
                                li
                                    a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
                                li
                                    a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
                                li
                                    a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
                                li
                                    a(href='/logout' style="color:#000;font-weight:bold;") Logout

                            
                    else
                        li.dropdown

                            a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
                                    span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

                            ul.dropdown-menu
                                li
                                    a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
                                li
                                    a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
                                li
                                    a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

                        li
                            a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

                        li.dropdown

                            a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
                                    span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

                            ul.dropdown-menu
                                li
                                    a(href='/company/about' style="color:#000;font-weight:bold;") About Us
                                li
                                    a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

                        li
                            a(href='/login/0' style="color:#000;font-weight:bold;")  Login
                        li
                            a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up






    #home.wrapper(style='')
        .parallax
            .brandwrap
                img(src='img/Mitra_logo.jpg',style='margin-left:-5%;')
                //span(style="color:#042F4F;font-size:120px;font-family:'Roboto', sans-serif;") M
                //span(style="text-transform:lowercase;color:#042F4F;font-size:120px;font-family:'Roboto', sans-serif;") ITRA
                //div(class="tagline")
                    span(style="color:#042F4F;margin-left: -55%;font-size:17px;font-family:'Roboto', sans-serif;") A.I. Driven Legal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    span(style="color:#042F4F;margin-right: -55%;font-size:17px;font-family:'Roboto', sans-serif;") Research Platform 
            //h3.tagline Start designing and developing faster
            br
            .serachwrap
                .container
                    .row
                        .col-lg-3
                        .col-lg-6
                            .form-group.ui-widget.input-group(style='display:inherit')
                                //div.buttonGroup
                                    //button(type="button" class="btn btn-secondary" style="style-type: none; border:1px solid; background:none;") SC
                                    //button(type="button" class="btn btn-secondary" style="style-type: none; border:1px solid; background:none;") Mumbai HC
                                    //button(type="button" class="btn btn-secondary" style="style-type: none; border:1px solid; background:none;") Delhi HC
                                    //button(type="button" class="btn btn-secondary" style="style-type: none; border:1px solid; background:none;") Madras HC
                                input.form-control.searchboxinput.searchbox(type='text', list = 'phrase-list', value='', placeholder='Search over 34000 SC cases', id="searchCasestext")
                                //div(class="courtListDiv input-group-btn")
                                    button(class="btn-primary filterButton" disabled) Supreme Court &#9660;
                                    div(class="dropDownContent")
                                        a(class="supremeCourt") Supreme Court
                                        a(class="mumbaiHC") Mumbai HC
                                        a(class="delhiHC") Delhi HC
                                        //a(class="taxCases") Tax Cases

                                datalist#phrase-list
                        //.col-lg-4.col-md-4.col-sm-4
                        //  a(href='javascript:void(0);' class="btn btn-primary" style="margin-left:10%;" onClick="selectCourt()") Supreme

                                
                               
                    .col-md-2(style="width:21%;align:center")
                    .col-md-8
                        input.radiob(type='checkbox', class = 'byjudgement', name='searchbyjudgement', value='byjudgement' style="width : 20px ; height : 20px ; " checked)
                        span(style="text-transform: capitalize;color:#0000FF;font-weight:bold")
                            font(size="4" color="#042f4f" font-weight="bold")  Search By Judgement

                        input.radiob(type='checkbox', class = 'bytitle', name='searchbytitle', value='bytitle' style="width : 20px ; height : 20px ; margin-left : 17px" )
                        span(style="text-transform: capitalize;color:#0000FF;font-weight:bold")
                            font(size="4" color="#042f4f" font-weight="bold")  Search by Title

                        input.radiob(type='checkbox', class = 'bymachine', name='searchbyML', value='byML' style="width : 20px ; height : 20px ; margin-left:40px ")
                        span(style="text-transform: capitalize;color:#0000FF;font-weight:bold")
                            font(size="4" color="#042f4f" )  Search by Context
                    br
                    .col-md-2(style="width:33%;align:center")
                    .col-xs-offset-4.col-xs-2.col-sm-2.col-md-2(style="width:35%;align:center")
                        br
                        a(href='javascript:void(0);'  style="background-color: #042F4F;color: white;border: none;font-weight: bold;font-size: 22px;padding:11px" class="btn btn-info btn-lg btn-round btn-fill btn-block", id="searchCasesButton") SEARCH
block append js
    script(type="text/javascript").
        $(document).ready(function () {
            localStorage.setItem('caseType',4);
            localStorage.setItem('case_type_us',true);
            $(".buttonGroup").hide();

            $(".radiob").change(function() {
                $(".radiob").prop('checked', false);
                $(this).prop('checked', true);
            });

            $('#searchCasestext').bind('change keyup',function (event) {
                var keypressed = event.keyCode || event.which;
                if (keypressed == 13) {
                    console.log("key 13 pressed");
                    $("#searchCasesButton").click();
                }
                else{
                    suggestPhrases(keypressed);
                }
            });

            var caseType = localStorage.getItem('caseType');
            if(caseType==1){
                $(".filterButton").text($(".mumbaiHC").text()).append(" &#9660;");
            }
            else if(caseType==2){
                $(".filterButton").text($(".delhiHC").text()).append(" &#9660;");
            }

            //function for changing filter button text
            $(this).find('a').click(function(){
                var ind = caseArray.indexOf(this.className);
                if(ind!=-1){
                    caseType = ind;
                    saveCaseType(ind);
                    $(".filterButton").text($(this).text()).append(" &#9660;");
                    $("input").attr('placeholder',placeholderArray[ind]);
                }               
            });

            selectCourt = function(){
                collapse = 1 - collapse;
                if(collapse == 1){
                    $(".searchbox").css("float:left");
                    $(".searchbox").hide(50);
                    $(".buttonGroup").show(50);
                }
                else{
                    $(".searchbox").show(50);
                    $(".buttonGroup").hide(50);
                }
                
            }
        })
