nav.navbar.navbar-ct-azure.navbar-fixed-top(role='navigation1')
        .container
            .navbar-header
                button#menu-toggle.navbar-toggle(type='button')
                    span.sr-only Toggle navigation
                    span.icon-bar.bar1
                    span.icon-bar.bar2
                    span.icon-bar.bar3
                a.navbar-brand(href='/')
            .collapse.navbar-collapse()
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href='#')   Discover
                    li
                        a(href='#')  Stats