extends ../layouts/changepassword

block content
    nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1' style="box-shadow:1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
        #caseid.hide #{caseid}
        .container
            .navbar-header
                a.navbar-brand Change Password
            .collapse.navbar-collapse()
                ul.nav.navbar-nav.navbar-right
                    //li.active
                        a.navbar-brand(href='/')
                            span(style="text-transform: capitalize;color:white") m
                            span(style="text-transform: lowercase;color:white;") itra
                    li
                        a(href='/logout' style="color:#fff;font-weight:bold;") Logout  
                                      
    .container(ng-app='ui.bootstrap.changepassword')
        .col-xs-offset-2.col-xs-8.col-md-offset-4.col-md-4.login-container(ng-controller='changePasswordController')
            h1.text-center.heading Mitra
            form(name='form', ng-submit='changepassword()', role='form')
                .form-group
                    label(for='password') Old Password
                    input.form-control(type='password', name='oldpassword', ng-model='oldpassword', required='')
                    span.help-block(ng-show='form.oldpassword.$dirty && form.oldpassword.$error.required') Old Password is required
                .form-group
                    label(for='password') Retype Old Password
                    input.form-control(type='password', name='reoldpassword', ng-model='reoldpassword', required='')
                    span.help-block(ng-show='form.reoldpassword.$dirty && form.reoldpassword.$error.required') Retyped Old Password is required
                .form-group
                    label(for='password') New Password
                    input.form-control(type='password', name='newpassword', ng-model='newpassword', required='')
                    span.help-block(ng-show='form.newpassword.$dirty && form.newpassword.$error.required') New Password is required
                .form-actions
                    button.btn.btn-info.btn-block.btn-fill(type='submit', ng-disabled='form.$invalid || dataLoading') Change Password
            br
            .alert.alert-danger(ng-show='error',style='text-align:center;') {{error}}

