extends ../layouts/forgotpassword

block content
    nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1' style="box-shadow:1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
        #caseid.hide #{caseid}
        .container
            .navbar-header
                a.navbar-brand Forgot Password
            .collapse.navbar-collapse()
                ul.nav.navbar-nav.navbar-right
                    //li.active
                        a.navbar-brand(href='/')
                            span(style="text-transform: capitalize;color:white") m
                            span(style="text-transform: lowercase;color:white;") itra
                    li
                        a(href='/login/0' style="color:#fff;font-weight:bold;")  Login
                    li
                        a(href='/signup' style="color:#fff;font-weight:bold;")  Signup
                            
    .container(ng-app='ui.bootstrap.forgotpassword')
        .col-xs-offset-2.col-xs-8.col-md-offset-4.col-md-4.login-container(ng-controller='forgotpasswordController')
            h1.text-center.heading Mitra
            form(name='form', ng-submit='forgotpassword()', role='form')
                .form-group
                    label(for='email') Email*
                    input.form-control(type='email', name='email', ng-model='email', required='')
                    span.help-block(ng-show='form.email.$dirty && form.email.$error.required') Email is required and should be in the format abc@xyz.com
                .form-actions
                    button.btn.btn-info.btn-block.btn-fill(type='submit', ng-disabled='form.$invalid || dataLoading') Submit
            br
            .alert.alert-danger(ng-show='error',style='text-align:center;') {{error}}

