extends ../layouts/login

block content
    nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1' style="box-shadow:1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
        #caseid.hide #{caseid}
        #data_type.hide #{data_type}
        .container
            .navbar-header
                a.navbar-brand Login
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    //li.active
                        a.navbar-brand(href='/')
                            span(style="text-transform: capitalize;color:white") m
                            span(style="text-transform: lowercase;color:white;") itra
                    li
                        a(href='/signup' style="color:#fff;font-weight:bold;")  Sign Up

    .container(ng-app='ui.bootstrap.login')
        .col-xs-offset-2.col-xs-8.col-md-offset-4.col-md-4.login-container(ng-controller='loginController')
            h1.text-center.heading Mitra
            form(name='form', ng-submit='login()', role='form')
                .form-group
                    label(for='username') E-mail
                    i.fa.fa-key
                    input#username.form-control(type='text', name='username', ng-model='username', required='')
                    span.help-block(ng-show='form.username.$dirty && form.username.$error.required') Username is required
                .form-group
                    label(for='password') Password
                    i.fa.fa-lock
                    input#password.form-control(type='password', name='password', ng-model='password', required='')
                    span.help-block(ng-show='form.password.$dirty && form.password.$error.required') Password is required
                .form-actions
                    button.btn.btn-info.btn-block.btn-fill(type='submit', ng-disabled='form.$invalid || dataLoading') Login
            br
            a(href='/forgotpassword') Forgot password?
            br
            .alert.alert-danger(ng-show='error',style='text-align:center;') {{error}}

