extends ../layouts/signup

block content
	nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1')
		#caseid.hide #{caseid}
		.container
			.navbar-header
				a.navbar-brand Sign Up
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					//li.active
						a.navbar-brand(href='/')
							span(style="text-transform: capitalize;color:white") m
							span(style="text-transform: lowercase;color:white;") itra
					li
						a(href='/login/0' style="color:#fff;font-weight:bold;")  Login
	
	.container(ng-app='ui.bootstrap.signup')
		.row
			//.col-xs-offset-10.col-xs-2.col-md-offset-8.col-md-4(style="position: fixed; margin-top: 35%; ")
				toast.signUpToast
			.col-xs-offset-2.col-xs-8.col-md-offset-4.col-md-4.login-container(ng-controller='signupController')
				h1.text-center.heading Mitra
				form(name='form', ng-submit='signup()', role='form')
					.form-group
						label(for='name') Name*
						input.form-control(type='text', name='name', ng-model='name', required='')
						span.help-block(ng-show='form.name.$dirty && form.name.$error.required') Name is required
					.form-group
						label(for='email') Email*
						input.form-control(type='email', name='email', ng-model='email', required='')
						span.help-block(ng-show='form.email.$dirty && form.email.$error.required') Email is required and should be in the format abc@xyz.com
					.form-group
						label(for='phone') Phone*
						input.form-control(type='phone', name='phone', ng-model='phone', required='' ng-pattern="/^[0-9]+$/" ng-minlength="10"
						ng-maxlength="10")
						span.help-block(ng-show='form.phone.$dirty && form.phone.$error.required') Phone Number is required and should contain exactly 10 digits
					.form-group
						label(for='company') Company
						input.form-control(type='text', name='company', ng-model='company')
					.form-group
						label(for='newpassword') Password*
						input.form-control(type='password', name='newpassword', ng-model='newpassword', required='')
						span.help-block(ng-show='form.newpassword.$dirty && form.newpassword.$error.required') Password is required
					.form-group
						label(for='password') Re-enter Password*
						input.form-control(type='password', name='repassword', ng-model='repassword', required='')
						span.help-block(ng-show='form.repassword.$dirty && form.repassword.$error.required') Re-entered Password is required
					//.form-group
						label(for='company') Access Code*
						input.form-control(type='text', name='code', ng-model='accesscode', required='')
					.form-group
						label(for='membershiptype') Membership type*
						input.form-control(ng-init="memtype='Early premium access'" type='text', name='memtype', ng-model='memtype', required='' readonly)
					.form-actions
						button.btn.btn-info.btn-block.btn-fill(type='submit', ng-disabled='form.$invalid || dataLoading') Sign Up
				br
				.alert.alert-danger(ng-show='error',style='text-align:center;') {{error}}        