extends ../layouts/home

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
	nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
		.container
			.navbar-header
				button#menu-toggle.navbar-toggle(type='button')
					span.sr-only Toggle navigation
					span.icon-bar.bar1
					span.icon-bar.bar2
					span.icon-bar.bar3
				a.navbar-brand(href='/')



			ul.nav.navbar-nav.navbar-right
					if loggedin
						li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
									li
										a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
									li
										a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

								li
									a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

								li.dropdown

									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
											span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

									ul.dropdown-menu
										li
											a(href='/company/about' style="color:#000;font-weight:bold;") About Us
										li
											a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
									span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
							ul.dropdown-menu
								li
									a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
								li
									a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
								li
									a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
								li
									a(href='/logout' style="color:#000;font-weight:bold;") Logout

							
					else
						li.dropdown

							a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
									span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

							ul.dropdown-menu
								li
									a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
								li
									a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
								li
									a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

						li
							a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

						li.dropdown

							a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
									span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

							ul.dropdown-menu
								li
									a(href='/company/about' style="color:#000;font-weight:bold;") About Us
								li
									a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

						li
							a(href='/login/0' style="color:#000;font-weight:bold;")  Login
						li
							a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up

	.container.about(style='')
			table.table.table-responsive.table-bordered(style="height:100%;overflow-y:auto;margin-top: 10%;")
				thead
					tr
						th #
						th Name
						th Email id
						th Contact number
						th Company
				tbody
					-for(var i=allProspects.length-1;i>-1;i--)
							tr
								th(scope='row')= i+1
								td= allProspects[i].name
								td= allProspects[i].email
								td= allProspects[i].contact
								td= allProspects[i].company?allProspects[i].company:'--'
