extends ../layouts/master

block content
	nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1',style="box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
		#caseid.hide #{caseid}
		#data_type.hide #{data_type}
		#searchterm.hide #{searchterm}
		.container
			.collapse.navbar-collapse()
				ul.nav.navbar-nav
					li
						div.input-group(style="width:520px !important; height: auto;")
							input.form-control.searchboxinput.searchbox_topbar(type='text', list='phrase-list', value='', placeholder='', id="searchCasestext")
							datalist#phrase-list
							//span.input-group-btn.searchBoxFilterBtn.courtListDiv
								i.fa.fa-filter.fa-2x
								div(class="dropDownContent" style="padding: 15px 15px 0px 15px;")
									table.table.table-bordered(style="border-radius:4px !important;")
										tbody

											tr
												td(colspan="3", style="background-color:#1a4e75; color:white;") Court Name													

											tr
												
												td 
													.form-check
														label.form-check-label
															input#court0.form-check-input(type='radio', name='courtType', value='sc', checked='')
															|	Supreme Court
												td 
													.form-check
														label.form-check-label
															input#court1.form-check-input(type='radio', name='courtType', value='bombayhc', checked='')
															|	Bombay HC
												td
													.form-check
														label.form-check-label
															input#court2.form-check-input(type='radio', name='courtType', value='delhihc', checked='')
															|	Delhi HC
												
											tr
												td(colspan="3", style="background-color:#1a4e75; color:white;") Search By
												
											tr
												
												td 
													.form-check
														label.form-check-label
															input#search0.form-check-input(class="byjudgement", type='radio', name='searchType', value='byjudgement', checked='')
															|	Judgement
												td
													.form-check
														label.form-check-label
															input#search1.form-check-input(class="bytitle", type='radio', name='searchType', value='bytitle', checked='')
															|	Title
												td
													.form-check
														label.form-check-label
															input#search2.form-check-input(class="bymachine", type='radio', name='searchType', value='bymachine', checked='')
															|	Context										
					li
						a(href='javascript:void(0);' class="btn btn-info btn-lg btn-round btn-fill btn-block searchbutton_topbar", id="searchCasesButton"
						style="font-weight: bold;background-color: transparent !important;color: white;font-size: 20px;border-width: 2px;padding: 8px; !important") SEARCH
				ul.nav.navbar-nav.navbar-right
					//li.active
						a.navbar-brand(href='/')
							span(style="text-transform: capitalize;color:white") m
							span(style="text-transform: lowercase;color:white;") itra
					li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#fff;font-weight:bold;") #{username}
									span.caret(style="color:#fff;font-weight:bold;border-top-color:#fff")
							ul.dropdown-menu
								li
									a(href='/' style="color:#000;font-weight:bold;") Home
								li
									a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
								li
									a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
								li
									a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
								li
									a(href='/logout' style="color:#000;font-weight:bold;") Logout
	div.spinner
		div.bounce1
		div.bounce2
		div.bounce3
	div(class="relationWrapper")
		section(class="relationContent")
			div(class="columns")
				div(class="sidebar-first")
					.caseRecommendations
				div(class="main").caseDetails
				div(class="sidebar-second")
					h3(style='text-align:center;font-size:25px;') Research Notes
					#researchNotes
						ul
	.row.bottomRow
		.col-5.col-sm-5.col-md-5
		.col-2.col-sm-2.col-md-2
			a(class="btn btn-info btn-fill btn-block" href="/synopsis",style='margin-top:0.45em; box-shadow: 0 1px 12px 6px rgba(0,0,0,0.1);') Next : Synopsis >
		.col-5.col-sm-5.col-md-5
block append js
	script(type="text/javascript").
		$(document).ready(function () {
			$('.relationWrapper').hide();
			$('.bottomRow').hide();
			$('.spinner').show();
			$('.searchboxinput').val(localStorage.getItem('current_searchterm'));

			var tooltip, hidetooltiptimer,text;
			createtooltip();			
			var courtType = localStorage.getItem('caseType');
			var searchType = localStorage.getItem('searchType');
			//document.getElementById("court"+courtType).checked = true;
			//document.getElementById("search"+searchType).checked = true;
			$('input[type=radio][name=searchType]').change(function() {
				if (this.value == 'byjudgement') {
					localStorage.setItem('searchType',0);
				}
				else if (this.value == 'bytitle') {
					localStorage.setItem('searchType',1);
				}
				else if (this.value == 'bymachine') {
					localStorage.setItem('searchType',2);
				}
			});
			$('input[type=radio][name=courtType]').change(function() {
				if (this.value == 'sc') {
					saveCaseType(0);
				}
				else if (this.value == 'bombayhc') {
					saveCaseType(1);
				}
				else if (this.value == 'delhihc') {
					saveCaseType(2);
				}
			});			
			// create tooltip by calling it ONCE per page. See "Note" below

			var buddhaquote = document.getElementsByClassName('caseDetails')

			buddhaquote[0].addEventListener('mouseup', function (e) {
				
				if (window.getSelection) {
					text = window.getSelection().toString();
				} else if (document.selection && document.selection.type != "Control") {
					text = document.selection.createRange().text;
				}
				// Added Case tile in notes on right
				var current_case_title = localStorage.getItem("current_case_title").substring(0,20)+ "..";
				
				var conLiHtml = '<li><b>' + current_case_title + '</b> - ' + text + '</li>';

				if (text != "") {
					localStorage.setItem("current_research_notes_copied", conLiHtml);
					showtooltip(e)
				}
				else{
					$('#copy_tooltip').css({'opacity':0});
				}

			}, false)

			$('#copy_tooltip').on('click', function(e){
				var copied_text = localStorage.getItem('current_research_notes_copied');
				$("#researchNotes ul").append(copied_text);
				$('.bottomRow').show();
				// call function to create data array for synopsis page
				createsynopsisarray(localStorage.getItem("current_case_title"),text,localStorage.getItem("current_case_id"));
				localStorage.setItem("research_notes",$("#researchNotes").html());
				sessionStorage.setItem("research_notes",$("#researchNotes").html());
				//console.log(localStorage.getItem('research_notes'));
				$('#copy_tooltip').css({'opacity':0});
			});
			
			getSimilarcases();
		})

